.button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

.button:hover {
  background-color: #3e8e41;
}

@media screen and (max-width: 768px) {
  .button {
    padding: 4px 8px;
    font-size: 14px;
    margin: 4px;
  }
}
